<h1>Coupon Form</h1>

<%= form_for(@coupon) do |f| %>
  <%= f.label "Coupon Code" %><br>
  <%= f.text_field :coupon_code %><br>

  <%= f.label "Store" %><br>
  <%= f.text_field :store %><br>

  <%= submit_tag "Submit Coupon" %>
<% end %>